<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Garden DataBase</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Garden DataBase</title>
</head>

<body>
<div class="conteiner">

  <h3>Garden DataBase</h3>
  <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
                <tr>
                    <a th:href="@{/flowers/list}" class="btn btn-info btn-sm">Flowers</a>
                    ||
                    <a th:href="@{/passports/list}" class="btn btn-info btn-sm">Passports</a>
                    ||
                    <a th:href="@{/shops/list}" class="btn btn-info btn-sm">Shops</a>
                </tr>
                </thead>
            </table>
    <hr>

  <!-- Add a button-->
  <a th:href="@{/passports/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
      Add Passport
  </a>

  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Shop Name</th>
      <th>Data</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "passport : ${passports}">
      <td th:text="${passport.key.id}" />
      <td th:text="${passport.value}" />
      <td th:text="${passport.key.data}" />
        <!-- Add update button/link-->
      <td>
          <a th:href="@{/passports/showFormForUpdate(passportId=${passport.key.id})}"
             class="btn btn-info btn-sm">
              Update
          </a>
      |
      <!-- Add delete button/link-->
          <a th:href="@{/passports/delete(passportId=${passport.key.id})}"
             class="btn btn-danger btn-sm"
             onclick="if (!(confirm('Are you sure you want to delete this passport?'))) return false">
              Delete
          </a>
      |
          <!-- Add manage flowers button/link-->
          <a th:href="@{/passports/showFormForLink(passportId=${passport.key.id})}"
             class="btn btn-danger btn-sm">
              Manage flowers in passport
          </a>
      |
          <!-- Add .pdf generator button/link-->
          <a th:href="@{/passports/generatePdfFile(passportId=${passport.key.id})}"
             class="btn btn-danger btn-sm">
              Generate pdf file
          </a>
      </td>

    </tbody>
  </table>

</div>
</body>

</html>