<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Garden DataBase</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Save Passport</title>
</head>

<body>

<div class="conteiner">

    <h3>Add Passport</h3>
    <hr>

    <p class="h4 mb-4">Save Passport</p>
    <form action="#" th:action="@{/passports/save}"
          th:object="${passport}" method="POST">

        <!-- Add hidden form field to handle update

        -->
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{shop.name}" class="form-control mb-4 col-4" placeholder="Shop name">
        <input type="text" th:field="*{data}" class="form-control mb-4 col-4" placeholder="Data">

        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>

    <hr>
    <a th:href="@{/passports/list}">Back to Passports List</a>
</div>

</body>

</html>